.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: transparent;
  z-index: 100;
  transition: all 0.12s ease-in-out;
}

.header.colored {
  background-color: #095d44;
}

.header.block {
  position: relative;
}

header.header > div.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: #090909;
  text-decoration: none;
  font-weight: 700;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  text-decoration: none;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000000;
  transition: .2s;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar li {
  display: inline-block;
}

.auth-links a:not(:last-child) {
  margin-right: 20px;
}
